<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>sinatra</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Zack Bonebrake">
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="/js/jquery.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/jqtools.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/main.js" charset="utf-8"></script>
	<!-- Date: 2010-10-10 -->
</head>
<body>
	<%= yield %>
</body>
</html>
